#body{
    background-color: white;
}

#test {
    text-align: center;
    font-family: serif;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 30px;
    text-shadow: 5px 3px 25px #000CFF;
    padding: 5px;
    border: 10px rgb(0, 0, 0);
    border-radius: 30px;
}

#b1 {
    text-align: center;
    font-weight: bold;
}

#ttt {
    color: rgb(6, 6, 6);
    text-align: center;
    text-shadow: 10px 13px 30px #161717;
    padding: 5px;
    border: 2px #000CFF;
    font-family: serif;
    border-radius: 30px;
}

#all {
    padding: 5px;
    border: 5px solid #1a1a1b;
    font-family: serif;
    border-radius: 10px;
}